@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.main_films {
  margin: auto;
  text-align: center;
  height: auto;
  padding: 20px 0px;
 
}

.title {
  color: rgba(220, 220, 220, 0.566);
  width: 90%;

  margin: auto;
  text-align: left;
  letter-spacing: 1px;
  font-family: "Comfortaa", cursive;
  font-size: 10pt;
  padding: 0px 5px;
  border-left: 2px solid gold;
}

.carrossel_filmes {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 30px 0px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.268);
}

.button_passar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
  font-size: 18pt;
}

#button_passar:hover {
  color: gold;
  border-color: gold;
}

#button_passar i {
  transform: scale(1.5);
}

.container_films {
  margin: auto;
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;
  gap: 15px;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.card {
  width: 230px;
  padding: 5px 0px;
  height: auto;
  display: inline-block;
  text-align: left;
  flex: none;
  scroll-snap-align: start;
}

.div_img {
  margin: auto;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.div_img:hover {
  background-size: 110% 110%;
}

.container_button {
  background-color: rgba(255, 217, 0, 0.21);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
  z-index: 0;
}

.container_button:hover {
  opacity: 1;
}

.button_Assisted {
  width: 100px;
  height: 30px;
  border: none;
  background-color: gold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.button_Assisted:hover {
  transform: scale(1.2);
}

.name_films {
  font-family: "Lexend", sans-serif;
  font-size: 10pt;
  color: white;
  padding: 5px 0px;
}

.star_section {
  font-family: "Lexend", sans-serif;
  color: white;
  font-size: 10pt;
}

.star_section i {
  color: gold;
  transform: scale(1);
  padding: 0px 3px;
}

.star_section span {
  color: gray;
}
