.more_assisted {
  margin: auto;
  width:83% ;
}

.header_more_assisted {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-bottom: 1px solid rgba(220, 220, 220, 0.111);
}

.title_more_assisted {
  font-family: "Comfortaa", cursive;
  color: rgba(220, 220, 220, 0.566);
  width: 200px;
  border-bottom: 1px solid gold;
  font-size: 10pt;
  padding: 5px 0px;
  transform: translateY(1px);
  letter-spacing: 1px;
}

.container_buttons_assisted {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  padding: 10px 0px;
}

.container_buttons_assisted button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #11110a;
  color: gold;
  font-size: 14pt;
  cursor: pointer;
}

.container_more_assisted {
  display: flex;
  margin: auto;
  text-align: left;
  align-items: center;
  overflow: hidden;
  gap: 10px;

  padding: 50px 0px;
  scroll-snap-type: x mandatory;
}

.card_assisted {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #11110a;
  width: 450px;
  height: 300px;
  flex: none;
  padding: 20px;
  border-radius: 5px;
  border-bottom: 1px solid gold;
  scroll-snap-align: start;
}
.img_assisted {
  width: 230px;
  height: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  transform: translateY(-30px);
  box-shadow: 0px 10px 30px rgb(0, 0, 0);
}
.button_assisted {
  margin-bottom: 20px;
  width: 130px;
  height: 25px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(45deg, gold, rgb(255, 106, 0));
  font-family: "Lexend", sans-serif;
  transition: all 0.3s;
}

.button_assisted:hover {
  transform: scale(1.2);
}
.desc_assisted {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  height: 100%;
  color: white;
  font-family: "Lexend", sans-serif;
  letter-spacing: 1px;
}
.title_assisted {
  font-size: 12pt;
}
.assess_assisted {
  font-size: 8pt;
  border-bottom: 1px solid gray;
  padding: 5px 0px;
}

.assess_assisted i {
  color: gold;
}

.assess_assisted span {
  color: gray;
}
.sinospe_assisted {
  font-size: 8pt;
  line-height: 15px;
  height:200px ;
  overflow: hidden;
}

@media screen and (max-width:680px){
  .card_assisted{
    width:300px;
    height:auto ;
    display: inline-block;
    padding:10px;
  }

  .img_assisted{
    width: 200px;
    height: 300px;
     margin: auto;
  }

  .desc_assisted{
    width: 100%;
    height:200px;
    gap: 20px;
   
 
  }

  .sinospe_assisted{
    height: auto;
  }
}

@media screen and (max-width:500px){
  .more_assisted{
    width:100%;
  }
  .container_more_assisted{
   width: 100%;
    overflow: auto;
}
 

 
}